*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
  padding: 20px;
  margin: 0;
}

/* Стили для контейнера, чтобы центрировать содержимое и задать максимальную ширину */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Стили для заголовков */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
  color: #333;
}

/* Стили для абзацев */
p {
  margin-bottom: 20px;
}

/* Стили для ссылок */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Стили для шапки сайта (header) */
.header {
  background-color: #98bfe9;
  color: #212020;
  padding: 20px 0;
  text-align: center;
}

.header a {
  color: #1c1a1a;
  margin: 0 15px;
  /* Отступы между ссылками */
  text-decoration: none;
  /* Убираем подчеркивание текста */
  font-size: 18px;
  /* Размер шрифта ссылок */
}

.header a:hover {
  text-decoration: underline;
  /* Подчеркивание при наведении */
}

/* Стили для подвала сайта (footer) */
.footer {
  background-color: #536577;
  /* Темно-серый цвет фона */
  color: #ffffff;
  /* Белый цвет текста */
  text-align: center;
  /* Центрирование текста */
  padding: 20px 0;
  /* Вертикальные отступы */
  margin-top: 40px;
  /* Отступ сверху */
  position: relative;
  /* Для позиционирования элементов внутри */
}

.footer p {
  margin: 0;
  /* Убираем отступы у параграфа */
  font-size: 16px;
  /* Размер шрифта текста */
}

.social-icons {
  margin-top: 20px;
  /* Отступ сверху для иконок соцсетей */
}

.social-icons a {
  display: inline-block;
  /* Иконки в строку */
  margin: 0 10px;
  /* Отступы между иконками */
  color: #ffffff;
  /* Белый цвет иконок */
}

.social-icons a:hover {
  color: #99c1ec;
  /* Синий цвет иконок при наведении */
}

